PORT=5001
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"
JWT_SECRET=your_jwt_secret
NODE_TLS_REJECT_UNAUTHORIZED=0

# Notifications
RESEND_API_KEY=
TO_EMAIL=
BUSINESS_PHONE=

# Africa's Talking
AT_API_KEY=
AT_USERNAME=
AT_SENDER_ID=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
